.msgItem{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
}
.msgItemUserInfo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.msgItemUserInfo img{
    width: 2rem;
    height: 2rem;    
}
.msgBubble{
    width: auto;
    color: white !important;
}

.itemLeft{
    justify-content: flex-start;
}
.itemRight{
    justify-content: flex-end;
}

.blueBackground{
    background: #3498DB !important;
}

.black{
    color:#000;
}